* {
  font-family: 'Soehne', 'Helvetica';
}

@font-face {
  font-family: Soehne;
  src: url('/fonts/soehne-web-buch.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: Soehne;
  src: url('/fonts/soehne-web-buch-kursiv.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Soehne;
  src: url('/fonts/soehne-web-halbfett.woff2') format('woff2');
  font-weight: 600;
}
