@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: rgb(17, 16, 16);
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

body {
  color: rgb(255, 255, 255);
  background: rgb(17, 16, 16);
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -0.75em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;

  @media screen(md) {
    margin-left: -1em;
  }
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}
